doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/ed5ddce74d.js" crossorigin="anonymous")
        link(rel="stylesheet", href="./assets/fonts/stylesheet.css")
        link(rel="stylesheet", href="./assets/css/reset.css")
        link(rel="stylesheet", href="./assets/css/variable.css")
        link(rel="stylesheet", href="./assets/css/base.css")
        link(rel="stylesheet", href="./assets/css/styles.css")
        title NFTs Marketplace
        
    body 
        .container
            include ./assets/pug/home