header.header
    .logo
        img.logo__img(src="./assets/icons/logo.svg", alt="")
    form(action="").header__search
        i.fa-solid.fa-magnifying-glass.search__icon
        input(type="text" placeholder="Search for artworks, collections, artists etc").search__input 
    nav.header__nav 
        ul.nav__list
            li.nav__item Home
                i.fa-solid.fa-chevron-down.nav__icon 
            li.nav__item Explore
              i.fa-solid.fa-chevron-down.nav__icon
            li.nav__item Community
                i.fa-solid.fa-chevron-down.nav__icon
    button.header__cta.btn Connect